.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: hsl(var(--primary));
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease-in-out, width 0.1s ease, height 0.1s ease opacity 0.1s ease;
    z-index: 1000;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  
  .visible {
    opacity: 1;
  }

  .notVisible {
    display: none;
  }
  
  .hovering {
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }
  